.univers {
  display: flex;
  flex-direction: column;
}

.fila {
  display: flex;
}

.celula {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.viva {
  background-color: #000;
}

.morta {
  background-color: #fff;
}