.univers {
  display: flex;
  flex-direction: column;
}
.fila {
  display: flex;
}

.celula {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
}
.viva {
  background-color: rgb(255, 255, 255);
}
.muerta {
  background-color: black;
}